<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actor Details</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<h1>Actor Edit Form</h1>
<form th:action="@{/updateAuthor}" th:object="${authorToEdit}" method="POST">
    <label for="id">ID</label>
    <input type="text" id="id" name="Name" th:field="*{id}"/><br/>
    <label for="Name">First Name</label>
    <input type="text" id="Name" name="Name" th:field="*{fullName}"/><br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>